<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Editar Curso Producción Agraria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-color: #d3f1c0; 
        }

        .container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            border-radius: 10px;
            max-width: 600px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        h2 {
            color: #4caf50;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            color: #4caf50;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

        label i {
            width: 20px;
            text-align: center;
            margin-right: 10px;
        }

        .form-control {
            margin-bottom: 15px;
        }

        .btn-primary {
            background-color: #4caf50;
            border-color: #4caf50;
        }

        .btn-primary:hover {
            background-color: #45a049;
            border-color: #45a049;
        }

        .input-group-text {
            background-color: #4caf50;
            border-color: #4caf50;
            color: #fff;
            z-index: 1;
        }

        .input-group-text:hover {
            background-color: #45a049;
            border-color: #45a049;
        }

        .flatpickr-calendar {
            z-index: 2;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('.datepicker', {
                enableTime: false,
                dateFormat: "d/m/Y" // Formato de fecha dd/mm/YYYY
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <h2 class="text-center"><i class="fas fa-leaf" style="color: #4caf50;"></i> Editar Curso Producción Agraria</h2>
        <form action="/cursos_produccion/editar/<%= courseId %>" method="post">
            <div class="mb-3">
                <label for="curso"><i class="fas fa-book"></i> Nombre del Curso</label>
                <input type="text" class="form-control" id="curso" name="curso" value="<%= curso[0] %>" required>
            </div>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="inicio"><i class="far fa-calendar-alt"></i> Inicio</label>
                    <input type="text" class="form-control datepicker" id="inicio" name="inicio" value="<%= curso[1] %>" required>
                </div>
                <div class="col-md-6">
                    <label for="fin"><i class="far fa-calendar-alt ml-4"></i> Fin</label>
                    <input type="text" class="form-control datepicker" id="fin" name="fin" value="<%= curso[2] %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="horas"><i class="far fa-clock"></i> Horas</label>
                <input type="text" class="form-control" id="horas" name="horas" value="<%= curso[3] %>" placeholder="Ej. 70hr" required>
            </div>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="carpeta1"><i class="fas fa-folder-open"></i> Carpeta 1</label>
                    <input type="url" class="form-control" id="carpeta1" name="carpeta1" value="<%= curso[4] %>" required>
                </div>
                <div class="col-md-6">
                    <label for="carpeta2"><i class="fas fa-folder-open"></i> Carpeta 2</label>
                    <input type="url" class="form-control" id="carpeta2" name="carpeta2" value="<%= curso[5] %>" required>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-md-6">
                    <label for="enlace1"><i class="fas fa-link"></i> Enlace 1</label>
                    <input type="url" class="form-control" id="enlace1" name="enlace1" value="<%= curso[6] %>" required>
                </div>
                <div class="col-md-6">
                    <label for="enlace2"><i class="fas fa-link"></i> Enlace 2</label>
                    <input type="url" class="form-control" id="enlace2" name="enlace2" value="<%= curso[7] %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="ponentes"><i class="fas fa-users"></i> Ponentes</label>
                <input type="text" class="form-control" id="ponentes" name="ponentes" value="<%= curso[8] %>" required>
            </div>
            <div class="mb-3">
                <label for="temas"><i class="fas fa-list"></i> Temas (Separados por comas)</label>
                <input type="text" class="form-control" id="temas" name="temas" value="<%= curso[9] %>, <%= curso[10] %>, <%= curso[11] %>" required>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Actualizar</button>
        </form>
    </div>
</body>

</html>
